# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://suraj:5746@cluster0.k9mhgmm.mongodb.net/

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

GOOGLE_CLIENT_ID=267049210022-728ie0ugk9l1gcte6rq5bbva6bqtt66v.apps.googleusercontent.com
FACEBOOK_APP_ID=554995197391739
FACEBOOK_APP_SECRET=7524c376965f720a9b6002e15e945317

APP_ID=2b6418eee4074ad685c6b404f547c796
APP_CERTIFICATE=146bab88c8c144b78a1a86dde39ecb96
TOKEN_EXPIRATION=3600
